.graph{
    margin: 0 200px;
    & span{
        font-size: 10px;
        margin-left: 80px;
    }
}

.Details{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .lastDayDetails{
    margin: 50px 0;
    display: grid;
    grid-template-columns: 180px 180px;
    grid-template-rows: 10px 10px;
    justify-content: center;
    align-items: center;
    grid-gap: 5em;
}
}