.home{
    display: flex;
    text-transform: uppercase;
    font-family: monospace;
    background-color: #161625;
    font-size: 50px;
    flex-direction: column;
    height: 89vh;
    align-items: center;
    justify-content: center;
    color: white;
}